{{#each posts as |post|}}
  {{! posts as per homeRoutes ln 24 post ie: i - index }}
  <div>
    <div>
      <h2>
        <a href="/post/{{post.id}}">{{post.title}}</a>
        {{! Each clickable item of the post GOES TO THE SINGLE POST }}
        {{! id and title - column names from models - actually is data from posts variable lin 18 in HomeRoutes}}

      </h2>
      <p>Created by
        {{user.username}}
        on
        {{format_date date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{post.content}}
      </p>
    </div>
  </div>
{{/each}}